<div>
  <h2>Welcome, {{ authService.currentUserSig()?.username }}!</h2>
  <p>Your email: {{ authService.currentUserSig()?.email }}</p>
  <p>Your photo: 
    <img 
      *ngIf="avatarUrl; else loading" 
      class="avatar" 
      [src]="avatarUrl" 
      alt="avatar" 
      (error)="onImageError()" 
      style="max-width: 100px; max-height: 100px;">
    <ng-template #loading>
      <span>Loading avatar...</span>
    </ng-template>
  </p>
</div>
<div *ngIf="!authService.currentUserSig()">
  <p>No user information available.</p>
</div>


<!--emoji board-->

<div class="emoji-board">
  <div class="emoji-tabs">
    <button (click)="switchBoard('normal')" [class.active]="activeBoard === 'normal'">😮</button>
    <button (click)="switchBoard('work')" [class.active]="activeBoard === 'work'">📌</button>
  </div>
  <div class="emoji-container">
    <div 
      class="emoji" 
      *ngFor="let emoji of (activeBoard === 'normal' ? normalEmojis : workEmojis)" 
      (click)="selectEmoji(emoji)">
      {{ emoji }}
    </div>
  </div>
</div>