@use '../../shared-landing-styles';

.logo{
  position: relative;
  padding-top: 30px;
  padding-left: 55px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 300px;
  animation: fadeIn ease-in-out 1s forwards;
  >img{
    width: 70px;
    height: 70px;
  }
  >h2{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    
  }
  &:hover{
    cursor: pointer;
  }
}

@media(max-width:650px){
  .logo{
    margin-top: 10px;
    padding: 0;
    width: 100%;
    justify-content: center;

    img {
      width: clamp(2.5rem, 1.2879rem + 6.0606vw, 3.75rem);
      height: clamp(2.5rem, 1.2879rem + 6.0606vw, 3.75rem);
    }

    h2 {
      font-size: clamp(1.25rem, 1.0076rem + 1.2121vw, 1.5rem);
    }
  }


}
