section {
    button {
        position: relative;
        background-color: white;
        display: inline;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        border: 1px solid #ADB0D9;
        padding: 2px 4px;

        &:hover {
            cursor: pointer;
        }

        &:hover div{
            opacity: 1;
            display: flex;
        }

        div {
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            min-width: 158px;
            min-height: 112px;
            background-color: #444DF2;
            border-radius: 25px 25px 25px 0;
            position: absolute;
            color: white;
            bottom: 23px;
            left: 15px;
            transition: 125ms all;
            padding: 12px 0px;


            h6 {
                min-width: 175px;
                font-size: 16px;
                font-weight: 700;
            }

            p {
                font-size: 14px;
                font-weight: 400;
            }

            span {
                font-size: 20px;
            }
        }
    }
}

.usedAlready {
    border-color: #444DF2 !important;
    background-color: rgba(#444DF2, 0.05) !important;
}