header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.search-bar-contain {
    display: flex;
    align-items: center;
    background-color: white;
    flex: 1 1 auto;
    box-shadow: 0px 2px 10px 0px #00000014 !important;
    height: 70px;
    border-radius: 42px;
    cursor: url('/assets/img/search_cursor.png'), auto;

    &:hover {
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1) !important;
    }
}

input {
    width: 100%;
    height: 33px;
    margin-left: 45px;
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: 400;
    cursor: url('/assets/img/search_cursor.png'), auto;
}

.search-icon {
    font-size: 35px !important;
    color: #686868;
    margin-right: 45px;
    cursor: url('/assets/img/search_cursor.png'), auto !important;
}

.img-contain {
    width: 366px;
}

.profile-contain-header {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 485px;
}

.profile-img-wrapper {
    position: relative;

    div {
        position: absolute;
        bottom: 4px;
        right: 4px;
        border: 2px solid #ECEEFE;
        width: 17px;
        height: 17px;
    }
}

.username-menu-contain-header {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    transition: font-weight 2s ease;

    img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }

    .profile-menu-icon {
        font-size: 30px !important;
        color: black !important;
        background-color: transparent;
        padding-right: 16px;
    }

    &:hover {
        cursor: pointer;

        span {
            color: #797EF3;
        }

        .profile-menu-icon {
            color: #797EF3 !important;
        }
    }

    &:active {
        cursor: pointer;

        span {
            font-weight: 800;
            margin-right: -2px;
        }

        .profile-menu-icon {
            font-weight: 800;
        }

        img {
            transform: scale(1.03);
        }
    }
}

.user-name-contain {
    display: flex;
    justify-content: start;
    width: 100%;
    overflow: hidden;
}

.user-name {
    color: black;
    font-size: 32px;
    font-weight: 700;
    overflow: hidden;
    line-height: 43.65px;
    text-overflow: ellipsis;
}

.menu-contain {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    width: 222px;
    gap: 20px !important;
}

button {
    border: none;
    background-color: transparent;
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 32.74px !important;
    height: 53px !important;
    width: 100% !important;
    border-radius: 100px;
    transition: transform 140ms ease, background-color 140ms ease, color 140ms ease !important;
    padding: 0 !important;

    &:hover {
        cursor: pointer;
        transform: scale(1.03);
        background-color: #ECEEFE;
        color: #444DF2;
    }
}

.log-out-btn {
    border: none;
    background-color: transparent;
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 32.74px !important;
    width: 100%;
    border-radius: 100px;

    &:hover {
        background-color: #444DF2;
        color: #ECEEFE;
    }
}

a {
    width: 100%;
    color: black;
}

a,
button,
mat-icon {
    pointer-events: auto !important;
}

@keyframes openProfileMenu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes openProfileMenuHeight {
    0% {
        max-height: 271px;
    }

    100% {
        max-height: 540px;
    }
}

@keyframes openProfileMenuWidth {
    0% {
        max-width: 230px;
    }

    100% {
        max-width: 440px;
    }
}

@keyframes closeProfileMenu {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes closeProfileMenuHeight {
    0% {
        max-height: 540px;
    }

    100% {
        max-height: 271px;
    }
}

@keyframes closeProfileMenuWidth {
    0% {
        max-width: 440px;
    }

    100% {
        max-width: 230px;
    }
}

.profile-menu-contain {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100vw;
    height: 100vh;
    max-width: 215px;
    max-height: 239px;
    padding: 15px 10px 15px 10px;
    opacity: 0;
    overflow: hidden;

    img {
        width: 200px;
        height: 200px;
    }
}

.open {
    animation: openProfileMenu 230ms ease-in-out forwards, openProfileMenuWidth 130ms ease-in-out forwards, openProfileMenuHeight 150ms ease-in-out forwards;
}

.close {
    animation: closeProfileMenu 130ms ease-in-out forwards, closeProfileMenuWidth 130ms ease-in-out forwards, closeProfileMenuHeight 150ms ease-in-out forwards;
}

.profile-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    span {
        font-size: 24px;
        font-weight: 700;
        color: black;
    }
}

.status-contain {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;

    div {
        display: flex;
        gap: 15px;
    }

    &:hover {

        .change-status-icon {
            border: none;
            background-color: transparent;
            font-weight: 600;
            margin-right: -1px;
            color: black;
        }
    }
}

.status-info {
    pointer-events: auto !important;
    cursor: pointer;
}

.name-and-edit {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.edit-user-btn {
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #535AF1 !important;
    pointer-events: auto !important;
    background: none !important;
    border: none !important;
    width: max-content !important;
    height: max-content !important;
    transform: scale(1.01) !important;
    margin-right: -1px !important;
    min-width: fit-content;

    &:hover {
        font-weight: 700 !important;
        margin-right: -1px !important;
        cursor: pointer !important;
    }
}

.change-status-icon {
    width: max-content !important;
    height: max-content !important;
    border: none !important;
    background-color: transparent !important;
    font-size: 24px !important;

    &:hover {
        border: none;
        background-color: transparent;
        font-weight: 600;
        margin-right: -1px;
        color: black;
    }
}

.change-status-close-icon {
    width: max-content !important;
    height: max-content !important;
    border: none !important;
    background-color: transparent !important;
    font-size: 23px !important;

    &:hover {
        border: none;
        background-color: transparent;
        font-weight: 600;
        margin-right: -1px;
        color: black;
    }
}

.status-undermenu {
    span {
        pointer-events: auto !important;
        transition: transform 120ms ease-in-out !important;

        &:hover {
            cursor: pointer;
            transform: scale(1.07);
        }
    }
}

.email-icon {
    font-size: 30px !important;
    pointer-events: none !important;
}

.email-menu-contain {
    display: flex;
    padding-top: 10px;
    margin-left: -3px;
    gap: 20px;

    .email-wrapper {
        display: flex;
        align-items: start;
        margin-top: -8px;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;

        .email-title {
            font-size: 20px;
            font-weight: 700;
            color: black;
        }
    }
}

.back-to-menu {
    font-size: 24px;
}

.user-email {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    font-weight: 500;
    color: #1381FF;
}

.email-title-user-email {
    display: flex;
    flex-direction: column;
    margin-left: -8px;
    gap: 23px !important;
}

.min-height {
    min-height: max-content !important;
}