<div class="dialog-contain" [ngClass]="getDialogClass()">
    <header>
        <h2 *ngIf="!showAddMembersDialog">Channel erstellen</h2>
        <h2 *ngIf="showAddMembersDialog">Leute hinzufügen</h2>
        <mat-icon mat-dialog-close fontIcon="close"></mat-icon>
    </header>
    <mat-dialog-content>
        <app-title-description *ngIf="!showAddMembersDialog" (titleChanged)="onTitleChanged($event)">
        </app-title-description>
        <app-add-members *ngIf="showAddMembersDialog" #addMembersContent
            (inputSelectedChange)="onSelectInputChanged($event)"
            (inputValueChange)="inputValueChange($event)"></app-add-members>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button *ngIf="!showAddMembersDialog" [disabled]="!title.length" class="primary default" mat-button
            (click)="showAddMembers()">
            weiter
        </button>
        <button *ngIf="showAddMembersDialog" [disabled]="selectInput && inputValueEmpty" (click)="close()"
            class="primary default" mat-button>
            Erstellen
        </button>
    </mat-dialog-actions>
</div>