<div id="dmTab">
    <div class="tab-header">
        <div (click)="toggleDirectMessages()" class="arrow-tab-title-contain">
            <div>
                <mat-icon id="dmIcon" class="drop-down-icon" fontIcon="arrow_right"></mat-icon>
            </div>
            <div class="channels-title-contain">
                <mat-icon class="tab-icon" fontIcon="people"></mat-icon>
                <span>Direktnachrichten</span>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isDirectMessagesOpen || isCloseDirectMessagesSection" class="btns-contain">
    <button *ngFor="let user of firestoreService.userList; let i = index"
        [ngStyle]="{'animation-delay': getAnimationDelayDM(i) + 's'}"
        [ngClass]="{'blob-in': isDirectMessagesOpen, 'blob-out': isCloseDirectMessagesSection && !isDirectMessagesOpen}">
        <mat-icon fontIcon="tag"></mat-icon>{{ user.username }}
    </button>
</div>