<div id="dmTab">
    <div class="tab-header">
        <div (click)="toggleDirectMessages()" class="arrow-tab-title-contain">
            <div>
                <mat-icon id="dmIcon" class="drop-down-icon" fontIcon="arrow_right"></mat-icon>
            </div>
            <div class="channels-title-contain">
                <mat-icon class="tab-icon" fontIcon="people"></mat-icon>
                <span>Direktnachrichten</span>
            </div>
        </div>
    </div>
</div>
<div class="btns-contain max-height-contain" *ngIf="isDirectMessagesOpen || isCloseDirectMessagesSection"
    [ngStyle]="{'max-height': isDirectMessagesOpen ? getDMMaxHeight() + 'px' : '0','transition': getDMTransitionDuration()}">
    <button *ngFor="let user of userList; let i = index" [ngStyle]="{'animation-delay': getAnimationDelayDM(i) + 's'}"
        (click)="focusUser(user); messengerService.showChartOrChannel(user); firebaseMessenger.searchChat(user);"
        [ngClass]="{'focus-btn': user.isFocus,'blob-in': isDirectMessagesOpen, 'blob-out': isCloseDirectMessagesSection && !isDirectMessagesOpen}">
        <div class="profile-img-wrapper">
            <img src="{{ user.avatar }}" alt="user_avatar_img">
            <div [ngClass]="{'status-online-icon': user.userStatus == 'on'}"></div>
            <div [ngClass]="{'status-offline-icon': user.userStatus == 'off'}"></div>
            <div [ngClass]="{'status-busy-icon': user.userStatus == 'busy'}"></div>
        </div>
        <span class="username-txt">{{ user.username }}</span>
        <span *ngIf="authService.currentUserSig()?.username === user.username" style="margin-left: -5px;">(Du)</span>
    </button>
</div>