<section>
    <header>
        <button (click)="openDialog()">
            <img src="{{messengerService.user.avatar}}" alt="DABubble Logo">
            <h4>{{ messengerService.user.username }}</h4>
        </button>
    </header>
    <div id="content">
        <div id="messages-container" #content>
            @for (message of firebaseMessenger.messages; track $index) {
            <app-message [message]="message" [messageIndex]="$index"></app-message>
            }
            <!-- <div class="date-container">
                <div>Heute</div>
                <div></div>
            </div> -->
            <div id="info">
                <div>
                    <img src="{{messengerService.user.avatar}}" alt="Profile">
                    <h4>{{ messengerService.user.username}}</h4>
                </div>
                <p>Diese Unterhaltung findet nur zwischen <a href="">&#64;{{ messengerService.user.username }}</a> und dir
                    statt.</p>
            </div>
        </div>
        <div id="input-container">
            <textarea [(ngModel)]="firebaseMessenger.content" name="textarea" placeholder="Schreibe eine Nachricht an Noah Braun"
                #texterea="ngModel" required></textarea>
            <div>
                <div id="button-container-left">
                    <button></button>
                    <div></div>
                    <button></button>
                    <button></button>
                </div>
                <button id="send-message-btn" (click)="firebaseMessenger.createMessage('')" *ngIf="texterea.valid"><img
                        src="/assets/icons/send.png" alt="send-icon"></button>
            </div>
        </div>
    </div>
</section>