<section>
    <header>
        <button>
            <img src="/assets/img/avatar.png" alt="DABubble Logo">
            <h4>Noah Braun</h4>
        </button>
    </header>
    <div id="content">
        <div id="info">
            <div>
                <img src="/assets/img/avatar.png" alt="Profile">
                <h4>Noah Braun</h4>
            </div>
            <p>Diese Unterhaltung findet nur zwischen <a href="">&#64;Noah Braun</a> und dir statt.</p>
        </div>
        <div class="date-container">
            <div>Heute</div>
            <div></div>
        </div>
        <div class="message">
            <img src="/assets/img/avatar.png" alt="Profile">
            <div id="message-content">
                <div>
                    <h6>Noah Braun</h6>
                    <p>14:25 Uhr</p>
                </div>
                <div>
                    Welche Version ist aktuell von Angular
                </div>
                <div>
                    <a href="">2 Anworten</a>
                    <p>Letzte Antwort 14:56</p>
                </div>
            </div>
        </div>
        <div class="message message-from-you">
            <img src="/assets/img/avatar.png" alt="Profile">
            <div id="message-content">
                <div>
                    <h6>Noah Braun</h6>
                    <p>14:25 Uhr</p>
                </div>
                <div>
                    Welche Version ist aktuell von Angular
                </div>
                <div>
                    <a href="">2 Anworten</a>
                    <p>Letzte Antwort 14:56</p>
                </div>
            </div>
        </div>

    </div>
    <div id="input-container">
        <textarea name="" id="" placeholder="Schreibe eine Nachricht an Noah Braun"></textarea>
        <div>
            <div>
                <button mat-fab>
                    <mat-icon>delete</mat-icon>
                </button>
                <div></div>
                <button mat-fab>
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-fab>
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <button></button>
        </div>
    </div>
</section>