input,
button {
    pointer-events: all;
}

mat-icon {
    font-size: 28px !important;
    border-radius: 0px !important;
}

button {
    padding: 23px 30px;
    font-size: 18px;
}

span {
    font-size: 20px;
    font-weight: 700;
    line-height: 27.28px;
}

input {
    border: none;
    background-color: transparent;
    width: 100%;
    max-width: 420px;
    font-size: 18px;
    color: #686868;
    border: 1px solid #ADB0D9;
    border-radius: 30px;
    padding: 15px 20px 15px 20px;

    &:hover {
        border-color: rgba($color: #444DF2, $alpha: 0.7);
    }

    &:focus {
        outline: none;
    }
}

.border-red {
    border-color: red;
}

.inputs-contain {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.single-input-contain {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.input-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.edit-editor {
    display: flex;
    flex-direction: column;
    gap: 45px;
    height: max-content;

    @media(max-width:460px) {
        gap: 20px;
    }
}

.btn-contain {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 32px;
}

.error-container {
    position: absolute;
    color: red;
    bottom: -20px;
}


.response {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    animation: slideInFromLeft 0.5s ease-in-out;
    font-size: 18px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-99%);
    }

    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 1020px) { 
    span {
        font-size: clamp(1.125rem, 1.0679rem + 0.2857vw, 1.25rem);  // 18px - 20px
    }

    mat-icon {
        font-size: clamp(1.375rem, 1.2036rem + 0.8571vw, 1.75rem); // 22px - 28px
    }

    input {
        font-size: clamp(0.875rem, 0.7607rem + 0.5714vw, 1.125rem); // 14px - 18px
        padding: clamp(0.625rem, 0.4821rem + 0.7143vw, 0.9375rem) clamp(0.9375rem, 0.7946rem + 0.7143vw, 1.25rem);; // 10px - 15px, 15px - 20px
    } 

    button {
        font-size: clamp(0.875rem, 0.7607rem + 0.5714vw, 1.125rem); // 14px - 18px
        padding: clamp(1rem, 0.8rem + 1vw, 1.4375rem) clamp(1.125rem, 0.7821rem + 1.7143vw, 1.875rem); // 16px - 23px, 18px - 30px

    }
}