mat-card {
    width: 366px;
    height: 100%;
    margin-right: 20px;
    padding: 32px 30px 32px 30px;
}

mat-card-content {
    padding: 0 !important;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-title-contain {
    display: flex;
    align-items: center;
    gap: 15px;
}

h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 32.7px;
    margin: 0;
}

mat-icon {
    font-size: 26px;
    width: 40px !important;
    height: 40px !important;
}