<mat-card appearance="outlined">
    <header>
        <div class="image-title-contain">
            <img src="assets/img/workspace_logo.png" alt="devspace_logo">
            <h1>Devspace</h1>
        </div>
        <mat-icon class="new-message-icon" fontIcon="rate_review"
            (click)="messengerService.showNewMessage()"></mat-icon>
    </header>
    <div class="scroll-contain">
        <div class="channels-and-dm-contain">
            <app-channel-list></app-channel-list>
            <app-user-list></app-user-list>
        </div>
    </div>
</mat-card>