<div class="register">
  <span>Neu bei DABubble?</span>
  <a href="">Konto Erstellen</a>
</div>
<div class="links">
  <a routerLink="imprint">Impressum</a>
  <a routerLink="policy">Datenschutz</a>
</div>
<section class="login">

  <h1>Anmeldung</h1>
  <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der arbeit verwendest</p>
  <div class="max-width inputs">
    <a href="#" class="forgotten">Passwort vergessen?</a>
    <div class="form-group" [ngClass]="{'focused': isFocused.email}">
      <mat-icon matPrefix
        [ngClass]="{'active-icon': isFocused.email, 'error-icon': emailFormControl.invalid && emailFormControl.touched}"
        class="material-icons-outlined">email
      </mat-icon>
      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com"
        (focus)="onInputFocus('email')" (blur)="onInputBlur('email')"
        [ngClass]="{'input-error': emailFormControl.invalid && emailFormControl.touched}">

      <div class="error-message" *ngIf="emailFormControl.invalid && emailFormControl.touched">
        @if (emailFormControl.hasError('email')) {
        <span>Falsches <strong>Passwort</strong> oder <strong>E-Mail</strong></span>>
        }
        @if (emailFormControl.hasError('required')) {
        <span>Geben sie ein <strong>E-Mail</strong> ein</span>
        }
      </div>
    </div>

    <div class="form-group" [ngClass]="{'focused': isFocused.password}">
      <mat-icon matPrefix
        [ngClass]="{'active-icon': isFocused.password, 'error-icon': passwordFormControl.invalid && passwordFormControl.touched}"
        class="material-icons-outlined">lock
      </mat-icon>
      <input type="password" matInput [formControl]="passwordFormControl" placeholder="Passwort"
        (focus)="onInputFocus('password')" (blur)="onInputBlur('password')"
        [ngClass]="{'input-error': passwordFormControl.invalid && passwordFormControl.touched}">

      <div class="error-message" *ngIf="passwordFormControl.invalid && passwordFormControl.touched">
        @if (passwordFormControl.hasError('required')) {
        <span>Falsches <strong>Passwort</strong> oder <strong>E-Mail</strong></span>
        }
      </div>
    </div>
  </div>
  <div class="oder-container">
    <div class="line"></div>
    <span>ODER</span>
    <div class="line"></div>
  </div>
  <button class="google"> <img src="/assets/img/landing/google.png" alt=""> Anmelden mit Google</button>
  <div class="buttons-area">
    <button mat-flat-button class="primary">Anmelden</button>
    <button mat-flat-button class="secondary" routerLink="dashboard">Anmelden als gast</button>
  </div>
</section>