@import '../../../styles.scss';
@import '../shared-landing-styles.scss';


.forgotten {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: #797EF3;
  text-decoration: none;
  margin-bottom: -10px;
}

.oder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;

}

.oder-container span {
  font-size: 18px;
  margin: 0 10px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ADB0D9;
}

.google {
  width: 100%;
  background-color: #ECEEFE !important;
  color: #444df4 !important;
  font-weight: 400 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid transparent;
  border-radius: 30px;
  height: 60px;
  &:hover {
    transform: scale(1.01);
    border: 1px solid #444df4;
    cursor: pointer;
    transition: 125ms ease-in-out;
    font-weight: 700 !important;
  }
}

.buttons-area {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
  padding-top: 10px;
  position: relative;
}

@media (max-width:450px){
  .buttons-area{
    gap: 10px;
    flex-direction: column;
  }
}

@media (max-height:900px){
  .form-group{
    margin-bottom: 10px;
    height: 40px;
  }

  .title{
    height: 40px;
  }

  .google{
    height: 40px;
    img{
      height: 24px;
      width: 24px;
    }
  }
}

@media screen and (max-width: 650px) {

  .register {
    a {
      padding: clamp(0.25rem, -0.1136rem + 1.8182vw, 0.625rem) 8px;
    }
  }

  .title {
    h1 {
      font-size: clamp(1.25rem, 1.0076rem + 1.2121vw, 1.5rem);
      height: 50px;
    }
  }

  .error-message {
    top: clamp(2.8125rem, 2.0852rem + 3.6364vw, 3.5625rem);
 }

 

  .google {
    gap: clamp(0.625rem, 0.0189rem + 3.0303vw, 1.25rem);
    height: clamp(2.5rem, 1.2879rem + 6.0606vw, 3.75rem);
    img {
      width: clamp(1.5625rem, 0.7746rem + 3.9394vw, 2.375rem);
    }
  }
}