<section>
  <mat-form-field appearance="outline">
    <mat-icon 
      matPrefix 
      [ngClass]="{'active-icon': isFocused.email}">email
    </mat-icon>
    <input 
      type="email" 
      matInput 
      [formControl]="emailFormControl" 
      [errorStateMatcher]="matcher"
      placeholder="Ex. pat@example.com" 
      (focus)="onInputFocus('email')" 
      (blur)="onInputBlur('email')">
    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
    }
    @if (emailFormControl.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-icon 
      matPrefix 
      [ngClass]="{'active-icon': isFocused.password}">lock
    </mat-icon>
    <input 
      type="password" 
      matInput 
      [formControl]="passwordFormControl" 
      [errorStateMatcher]="matcher"
      placeholder="Passwort" 
      (focus)="onInputFocus('password')" 
      (blur)="onInputBlur('password')">
    @if (passwordFormControl.hasError('required')) {
      <mat-error>Falsches <b>Passwort</b> oder <b>E-Mail</b></mat-error>
    }
  </mat-form-field>
</section>


<!-------------------------------------- link to navigate to imprint site --------------------------------->

<!----------------------------- <a [routerLink]="['/imprint']">Impressum</a> ------------------------------>