@import '../../../styles.scss';
$purple: #444DF2;


.login{
  min-width: 300px;
  max-width: 700px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px;
  position: absolute;
  left: 50%;
  top: 156px;
  transform: translate(-50%);
  border-radius: 30px ;
  gap: 20px;
  
}

p{
  font-size: 20px;
  text-align: center;
}




.max-width{
  width: 100%;
}

mat-icon {
  color: gray !important; 
}

.active-icon {
  color: black !important; 
}

.form-group {
  width: 100%;
  border: 1px solid transparent; /* Default transparent border */
  position: relative; 
  margin-bottom: 16px; 
  height: 60px;
  display: flex;
  align-items: center; /* Align items vertically */
  background-color: #ECEEFE; /* Set background color */
  border-radius: 30px; /* Rounded corners */
  padding-left: 12px; /* Space from the left */
  gap: 10px; /* Space between items */
  
  &.focused {
    border: 1px solid #535AF1; /* Change border color on focus */
  }
}

h1{
  color: $purple;
  font-size: 46px;
  font-weight: 700 !important;
  margin: 0;
}

input{
  
  border: none;
  background-color: #ECEEFE ;
  width: 500px;
  &:focus{
    outline: none;
  }
  
}
.inputs{
  display: flex;
  flex-direction: column;
  gap: 24px;
  position:relative;
  padding-bottom: 32px;
}

.forgotten{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  color:#797EF3 ;
  text-decoration: none;
}

.error-message {
  color: red;
  font-size: 0.8em;
  position: absolute; /* Absolute positioning */
  left: 0; /* Align to the left of the input */
  bottom: -20px; /* Position it below the input, adjust as needed */
  opacity: 0; /* Hide by default */
  transition: opacity 0.2s ease; /* Smooth transition */
}

.input-error ~ .error-message {
  opacity: 1; /* Show error message when input has error */
}

.oder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px; /* Adjust the height as needed */
  width: 100%; /* Adjust the width as needed */
  
}

.oder-container span {
  font-size: 18px;
  margin: 0 10px; 
}

.line{
  width: 100%;
  height: 1px;
  background-color: #ADB0D9;
}

