<section>
    @if (!sourceThread) {
    <textarea [(ngModel)]="firebaseMessenger.content" name="textareaMessenger" #textarea pattern="^[\s\S]*\S[\s\S]*$"
        placeholder='Schreibe eine Nachricht an {{ messengerService.user.username }}' #texterea="ngModel"
        required></textarea>
    <div id="interaction">
        <div id="button-container-left">
            <p>
                <mat-icon (click)="fileInput.click()">add</mat-icon>
                <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*,application/pdf" multiple style="display: none;">
            </p>
    
            <div></div>
            <button (click)="openOrCloseEmojiBoard()"></button>
            <button></button>
        </div>
        <button id="send-message-btn" (click)="uploadFiles() ;scrollDivDown()" *ngIf="texterea.valid"><img
                src="/assets/icons/send.png"  alt="send-icon"></button>
    </div>
    <app-emoji-board *ngIf="showEmojiBoard" [binding]="textarea" (callFunction)="openOrCloseEmojiBoard()"></app-emoji-board>
    <div style="display: flex;">
        <div *ngFor="let file of selectedFiles">
        <img style="width: 48px; height: 48px;" *ngIf="file.type.startsWith('image')" [src]="file.data" (click)="viewFile(file)" class="preview-img" />
        <div *ngIf="file.type === 'application/pdf'">
          <p>{{file.name}}</p>
          <a [href]="file.data" target="_blank">PDF öffnen</a>
        </div>
        </div>
    </div>
    } @else {
    <textarea [(ngModel)]="firebaseMessenger.answerContent" name="textareaThread" #textarea placeholder='Antworten...'
        #texterea="ngModel" pattern="^[\s\S]*\S[\s\S]*$" required></textarea>

    <div id="interaction">
        <div id="button-container-left">
            <button></button>
            <div></div>
            <button (click)="openOrCloseEmojiBoard()"></button>
            <button></button>
        </div>
        <button id="send-message-btn" (click)="firebaseMessenger.createAnswer(threadService.messageId) "
            *ngIf="texterea.valid"><img src="/assets/icons/send.png"  alt="send-icon"></button>
    </div>
    <app-emoji-board *ngIf="showEmojiBoard" [binding]="textarea" (callFunction)="openOrCloseEmojiBoard()"></app-emoji-board>
    }
</section>