<section class="message" [ngClass]="{'message-from-you': this.message.senderId == this.authService.currentUserSig()?.userID, 'z-index': this.showEmojiBoard}" (mouseenter)="hoveredMessageId = messageIndex"
    (mouseleave)="hoveredMessageId = -1; hoveredMenu = false; closeEmojiBoard()">
    <img src="{{message.senderAvatar}}" alt="Profile" id="img-avatar">
    <div id="message-content" *ngIf="!editMessage">
        <div>
            <h6>{{ message.senderName }}</h6>
            <p>{{ message.date | date:'H:mm' }}
                <span>Uhr</span>
            </p>
        </div>
        <div [innerHTML]="getParsedMessage(message.content)">
            
        </div>
        <div id="reaktions-container">
            <mat-icon *ngIf="reactions.length !== 0" (click)="openOrCloseEmojiBoard()">add_reaction</mat-icon>
            @for (reaction of reactions; track $index) {
                <app-emojis-reaktion *ngIf="reaction.messageID == message.id" [reaction]="reaction" [index]="messageIndex"></app-emojis-reaktion>
            }
        </div>
        <div *ngIf="!reduceContent" id="answer-container">
            <a (click)="openThead()">{{ giveAnswerLengthBack() }}</a>
            <p> <span *ngIf="answers.length > 0">Letzte Antwort um</span> {{ giveLastAnswerDateBack() | date: 'H:mm' }}</p>
        </div> 
    </div>
    <div class="interaction" *ngIf="hoveredMessageId == messageIndex && !editMessage">
        <button *ngIf="!reduceContent"><img src="/assets/icons/check.png" alt=""></button>
        <button *ngIf="!reduceContent"><img src="/assets/icons/emoij-hands-up.png" alt=""></button>
        <button (click)="openOrCloseEmojiBoard()"><mat-icon>add_reaction</mat-icon></button>
        <button *ngIf="!reduceContent" (click)="openThead()"><img src="/assets/icons/comment.png" alt=""></button>
        <button id="intercation-more-btn" (click)="showOrHideMenu()">
            <mat-icon>more_vert</mat-icon>
            <div (click)="editMessage = true" *ngIf="hoveredMenu == true" (mouseleave)="hoveredMenu = false">
                <p>Nachricht bearbeiten</p>
            </div>
        </button>
    </div>
    <app-edit-message *ngIf="editMessage" [message]="message" [sourceThread]="sourceThread" (closeEditMessage)="closeEdit($event)" [editAnswerMessage]="editAnswerMessage"></app-edit-message>
    <app-emoji-board *ngIf="showEmojiBoard" [ngStyle]="{'left.px': sourceThread ? 20 : 240}" [binding]="firebaseMessenger.reaktionContent" (callFunction)="openOrCloseEmojiBoard()" [message]="message" (mouseleave)="openOrCloseEmojiBoard()"></app-emoji-board>
</section>
