@defer () {
<mat-radio-group class="channel-list" [ngClass]="getChannelListClass()" [(ngModel)]="pickChannel"
    (scroll)="onScroll($event)" (change)="resetLowerGroup()">
    @for (channel of channelList; track $index) {
    <mat-radio-button [value]="channel.title">
        <span class="radio-default-txt">Alle Mitglieder von <span class="radio-value-txt">{{ channel.title }}</span>
            hinzufügen</span>
    </mat-radio-button>
    }
</mat-radio-group>
<mat-radio-group [(ngModel)]="selectInput" (change)="resetUpperGroup()" style="position: relative;">
    <mat-radio-button [value]="true">
        <span class="radio-default-txt">
            Bestimmte Leute hinzufügen hinzufügen</span>
    </mat-radio-button>
    <div *ngIf="selectInput || !endAnimation" [ngClass]="{'slideInFromTop': selectInput, 'slideOutToTop': !selectInput}"
        class="add-specific-member-contain" (wheel)="onWheel($event)" (animationstart)="scrollToRightAfterAnimation()">
        <mat-chip-grid #chipGrid>
            <div class="chip-contain" *ngFor="let member of channelDataService.membersSource(); let i = index">
                <img src="{{ member.avatar }}" alt="user_img">
                <span>{{ member.username }}</span>
                <div class="icon-wrapper">
                    <mat-icon *ngIf="i !== 0" (mousedown)="remove(member)" fontIcon="close"></mat-icon>
                </div>
            </div>
        </mat-chip-grid>
        <input #userInput autocomplete="off" placeholder="Name..." [matChipInputFor]="chipGrid"
            (input)="searchUserByName($event)" (keydown)="onKeyDown($event)" />
    </div>
</mat-radio-group>
<mat-card appearance="outlined" *ngIf="filteredUsers.length > 0"
    [ngClass]="{'foundOne': filteredUsers.length === 1,'foundMore': filteredUsers.length > 1, 'input-left': channelDataService.membersSource().length === 0,'input-middle':channelDataService.membersSource().length === 1,'input-right':channelDataService.membersSource().length > 1}">
    <mat-card-content>
        <button *ngFor="let user of filteredUsers let i = index" [ngClass]="{'highlight-btn': i === highlightedIndex}"
            (click)="add(user)">
            <div class="profile-img-wrapper">
                <img src="{{ user.avatar }}" alt="user_avatar_img">
                <div [ngClass]="{'status-online-icon': user.userStatus == 'on'}"></div>
                <div [ngClass]="{'status-offline-icon': user.userStatus == 'off'}"></div>
                <div [ngClass]="{'status-busy-icon': user.userStatus == 'busy'}"></div>
            </div>
            <span>{{ user.username }}</span>
        </button>
    </mat-card-content>
</mat-card>
<video *ngIf="needsToAddScroll()" [ngClass]="{'scroll-up': scrolledToEnd}" autoplay loop muted
    src="assets/icons/scroll_animation.mp4">
</video>
}