<section>
    <header>
        <h2>Profil</h2>
        <mat-icon (click)="closeDialog()">close</mat-icon>
    </header>
    <img src="{{data.avatar}}" alt="">
    <div id="name-container">
        <h1>{{ data.username }}</h1>
        <div>
            <div id="status-container" [ngClass]="{'status-online-icon': data.userStatus == 'on',  'status-offline-icon': data.userStatus == 'off',  'status-busy-icon': messengerService.user.userStatus == 'busy'}"></div>
            <p [ngClass]="{'status-online-txt': data.userStatus == 'on', 'status-offline-txt': data.userStatus == 'off', 'status-busy-txt': data.userStatus == 'busy'}">{{ checkUserStatus() }}</p>
        </div>
    </div>
    <div id="email-container">
        <mat-icon fontIcon="mail"></mat-icon>

        <div>
            <h2>E-Mail-Adresse</h2>
            <a href="mailto:{{ data.email }}">{{ data.email }}</a>
        </div>
    </div>
</section>