<section>
    <header>
        <h2>Profil</h2>
        <button (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </header>
    <img src="/assets/img/avatar.png" alt="">
    <div id="name-container">
        <h1>Noah Braun</h1>
        <div>
            <div id="status-container"></div>
            <p>Aktiv</p>
        </div>
    </div>
    <div id="email-container">
        <mat-icon fontIcon="mail"></mat-icon>

        <div>
            <h2>E-Mail-Adresse</h2>
            <a href="">test&#64;test.de</a>
        </div>
    </div>

    <button mat-flat-button id="message-btn"><mat-icon fontIcon="mode_comment"></mat-icon>Nachricht</button>
</section>