<section>
    <header>
        <h2>Profil</h2>
        <mat-icon (click)="closeDialog()">close</mat-icon>

    </header>
    <img src="/assets/img/avatar.png" alt="">
    <div id="name-container">
        <h1>{{ messengerService.user.username }}</h1>
        <div>
            <div id="status-container" [ngClass]="{'status-online-icon': messengerService.user.userStatus == 'on'}"
                [ngClass]="{'status-offline-icon': messengerService.user.userStatus == 'off'}"
                [ngClass]="{'status-busy-icon': messengerService.user.userStatus == 'busy'}"></div>
            <p [ngClass]="{'status-online-txt': messengerService.user.userStatus == 'on'}"
                [ngClass]="{'status-offline-txt': messengerService.user.userStatus == 'off'}"
                [ngClass]="{'status-busy-txt': messengerService.user.userStatus == 'busy'}">{{ checkUserStatus() }}</p>
        </div>
    </div>
    <div id="email-container">
        <mat-icon fontIcon="mail"></mat-icon>

        <div>
            <h2>E-Mail-Adresse</h2>
            <a href="">{{ messengerService.user.email }}</a>
        </div>
    </div>

    <button mat-flat-button id="message-btn"><mat-icon fontIcon="mode_comment"></mat-icon>Nachricht</button>
</section>