<section>
    <app-logo></app-logo>
    <mat-card appearance="outlined">
        <div>
            <mat-icon fontIcon="arrow_back" [routerLink]="['..']"></mat-icon>
        </div>
        <mat-card-content>
            <div class="imprint-contain">
                <h1>Impressum</h1>
                <div class="imprint-info">
                    <p>Ivan Paul <br />
                        Haputstraße 30 <br />
                        4222 Langenstein
                    </p>
                </div>
            </div>
            <div class="contact-contain">
                <h2>Contact:</h2>
                <p>Email: info&#64;paul-ivan.com</p>
            </div>
        </mat-card-content>
    </mat-card>
</section>