section {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #ECEEFE;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-logo {
    position: absolute;
    top: 0;
    left: 0;

    ::ng-deep .logo h2 {
        display: none !important;
    }
}

mat-card {
    display: flex;
    padding: 48px 56px 48px 56px;
    gap: 32px;
    width: 100%;
    max-width: 676.27px;
    height: 469px;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0;
}

h1 {
    color: #444DF2;
    font-size: 46px;
    font-weight: 700;
    line-height: 55.2px;
}

h2 {
    color: #444DF2;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
}

p {
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}