* {
    margin: 0 !important;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #444DF2;
    transition: all 150ms;
    align-self: baseline;
    &:hover {
        text-decoration: underline solid 1.5px #444DF2;
    }
}

section {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #ECEEFE;
    display: flex;
    overflow-y: auto;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    width: 100%;

    mat-icon {
        font-size: 28px;
    } 

    img {
        width: 220px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    background-color: white;
    border-radius: 25px;
    padding: 25px 32px;

    h1 {
        color: #444DF2;
        font-weight: 700;
        font-size: 40px;
    }

    h5 {
        font-weight: 700;
        font-size: 28px;
        line-height: inherit;
    }
}

span {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: baseline;

    h6 {
        font-size: 22px;
        font-weight: 700;
        align-self: baseline;
    }

    p {
        font-size: 20px;
    }
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1020px) {
    section {
        padding: clamp(0.625rem, 0.3393rem + 1.4286vw, 1.25rem);
        gap: clamp(0.625rem, 0.3393rem + 1.4286vw, 1.25rem);
    }

    header {
        padding: 0 clamp(0.625rem, 0.3393rem + 1.4286vw, 1.25rem);
        img {
            width: clamp(8.75rem, 6.4643rem + 11.4286vw, 13.75rem); 
        }

        mat-icon {
            font-size: clamp(1.25rem, 1.0214rem + 1.1429vw, 1.75rem);
        }
    }

    .content {
        gap: clamp(0.75rem, 0.2929rem + 2.2857vw, 1.75rem);
        padding: clamp(0.625rem, 0.1964rem + 2.1429vw, 1.5625rem) clamp(0.625rem, 0.3393rem + 1.4286vw, 1.25rem);

        h1 {
            font-size: clamp(1.625rem, 1.2414rem + 1.9178vw, 2.5rem);
        }

        h5 {
            font-size: clamp(1.125rem, 0.8393rem + 1.4286vw, 1.75rem);
        }
    }

    span {
        gap: clamp(0.3125rem, 0.1696rem + 0.7143vw, 0.625rem);
        h6 {
            font-size: clamp(1.125rem, 1.0107rem + 0.5714vw, 1.375rem);
        }

        p, a {
            font-size: clamp(1rem, 0.8857rem + 0.5714vw, 1.25rem);
        }
    }
}