<ng-container *ngIf="isUserLoaded; else loading">
    <main>
        <app-header></app-header>
        <section>
            <mat-drawer-container>
                <mat-drawer id="sidenav-left" #drawer mode="side" position="start" [opened]="isSideNavOpen">
                    <app-channels-userlist></app-channels-userlist>
                </mat-drawer>

                <mat-drawer-content>
                    <app-messenger *ngIf="messengerService.showMessenger"></app-messenger>
                </mat-drawer-content>

                <mat-drawer id="sidenav-left" #drawerThread mode="side" [opened]="threadService.showThreadSideNav"
                    position="end">
                    <app-thread></app-thread>
                </mat-drawer>

            </mat-drawer-container>
        </section>
        <button class="toggle-btn" (click)="toggleSideNav()"
            [ngClass]="{ 'close-btn': isSideNavOpen, 'open-btn': !isSideNavOpen }">
            <div class="txt-icon-contain">
                <span>
                    {{ isSideNavOpen ? 'Workspace-Menü schließen' : 'Workspace-Menü öffnen' }}
                </span>
                <mat-icon fontIcon="open_in_browser"></mat-icon>
            </div>
        </button>
    </main>
</ng-container>

<ng-template #loading>
    <div class="loading-container">
        <mat-spinner class="loading-spinner"></mat-spinner>
    </div>
</ng-template>