<section>
  <app-logo></app-logo>
  <app-links></app-links>
  <div class="login">

    <mat-icon routerLink="/" fontIcon="arrow_back" class="arrow-back"></mat-icon>
    <h1 style="width: 600px;">Passwort zurücksetzen</h1>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-group" [ngClass]="{'focused': isFocused.email}">
        <mat-icon matPrefix
          [ngClass]="{'active-icon': isFocused.email, 'error-icon': resetForm.get('email')?.invalid && resetForm.get('email')?.touched}"
          class="mat-icon-gray">email</mat-icon>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com"
          (focus)="onInputFocus('email')" (blur)="onInputBlur('email')"
          [ngClass]="{'input-error': resetForm.get('email')?.invalid && resetForm.get('email')?.touched}">
        <div class="error-message" *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched">
          <span *ngIf="resetForm.get('email')?.hasError('email')">Falsches <strong>E-Mail</strong></span>
          <span *ngIf="resetForm.get('email')?.hasError('required')">Geben Sie ein <strong>E-Mail</strong> ein</span>
        </div>
      </div>
      <button type="submit" mat-flat-button class="primary button" [disabled]="resetForm.invalid" >Weiter</button>
    </form>
  </div>
  @if(showSuccessMessage){
    <button class="response primary button"> <mat-icon>send</mat-icon> E-Mail gesendet</button>
  }
</section>