@use "@angular/material" as mat;
@include mat.theme($theme);

$theme: (
  primary: (
    default: #007bff, // Adjust the hex code as needed
    light: #66b1ff,
    dark: #00478d,
    hover: #0066cc
  ),
  secondary: (
    default: #c0c0c0, // Adjust the hex code as needed
    light: #e0e0e0,
    dark: #808080,
    hover: #b0b0b0
  )
);