<mat-card>
    <header>
        <div>
            <h4>Thread</h4>
            <p><mark>&#64;</mark>{{ threadService.messageToReplyTo.senderName }}</p>
        </div>

        <mat-icon (click)="threadService.showThreadSideNav = false;">close</mat-icon>

    </header>
    <div id="content">
        <div id="messages-container" #content>
            <div class="message">
                <img src="{{ threadService.messageToReplyTo.senderAvatar }}" alt="Profile">
                <div id="message-content">
                    <div>
                        <h6>{{ threadService.messageToReplyTo.senderName }}</h6>
                        <p>
                            {{ threadService.messageToReplyTo.date| date:'H:mm' }}
                            <span>Uhr</span>
                        </p>
                    </div>
                    <div [innerHTML]="getParsedMessage(threadService.messageToReplyTo.content)">
                        {{ threadService.messageToReplyTo.content }}
                    </div>
                </div>
            </div>
            <div id="answers-info">
                <p>{{ checkAnswerArrayLength() }}</p>
                <div></div>
            </div>
            @for (message of firebaseMessenger.answers; track $index) {
                <app-message [messageIndex]="$index" [message]="message" [reduceContent]="reduceInteraktionBtn" [editAnswerMessage]="editAnswerMessage" [sourceThread]="sourceThread"></app-message>
            }
            
        </div>
        <app-textarea [sourceThread]="sourceThread" ></app-textarea>
    </div>
</mat-card>