<section>
    <header>
        <div>
            <h4>Thread</h4>
            <p><mark>&#64;</mark>{{ threadService.senderName }}</p>
        </div>

        <mat-icon (click)="threadService.showThread = false;">close</mat-icon>

    </header>
    <div id="content">
        <div id="messages-container" #content>
            @for (message of firebaseMessenger.answers; track $index) {
                <app-message [message]="message" [messageIndex]="$index" [reduceContent]="reduceInteraktionBtn" [editAnswerMessage]="editAnswerMessage"></app-message>
            }
            <div id="answers-info">
                <p>{{ checkAnswerArrayLength() }}</p>
                <div></div>
            </div>
            <div class="message">
                <img src="{{ threadService.senderAvatar }}" alt="Profile">
                <div id="message-content">
                    <div>
                        <h6>{{ threadService.senderName }}</h6>
                        <p>
                            {{ threadService.answeredMessage.date| date:'H:mm' }}
                            <span>Uhr</span>
                        </p>
                    </div>
                    <div>
                        {{ threadService.answeredMessage.content }}
                    </div>
                </div>
            </div>
        </div>
        <div id="input-container">
            <textarea [(ngModel)]="firebaseMessenger.answerConent" placeholder="Antworten..." #texterea="ngModel" required></textarea>
            <div>
                <div id="button-container-left">
                    <button></button>
                    <div></div>
                    <button></button>
                    <button></button>
                </div>
                <button id="send-message-btn"  (click)="firebaseMessenger.createAnswer(threadService.messageId)" *ngIf="texterea.valid"><img src="/assets/icons/send.png" alt="send-icon"></button>
            </div>
        </div>
    </div>
</section>