<section>
    <header>
        <div>
            <h4>Thread</h4>
            <p><mark>&#64;</mark> Noah Braun</p>
        </div>

        <mat-icon>close</mat-icon>

    </header>
    <div id="content">
        <div id="messages-container" #content>
            <div class="message message-from-you">
                <img src="/assets/img/avatar.png" alt="Profile">
                <div id="message-content">
                    <div>
                        <h6>Noah Braun</h6>
                        <p>14:25 Uhr</p>
                    </div>
                    <div>
                        Welche Version ist aktuell von Angular
                    </div>
                    <div>
                        <mat-icon>add_reaction</mat-icon>
                        <!-- <div>
                            &#128077;
                            <p>1</p>
                        </div> -->
                    </div>
                </div>
            </div>
            <div id="answers-info">
                <p>2 Antworten</p>
                <div></div>
            </div>
            <div class="message">
                <img src="/assets/img/avatar.png" alt="Profile">
                <div id="message-content">
                    <div>
                        <h6>Noah Braun</h6>
                        <p>14:25 Uhr</p>
                    </div>
                    <div>
                        Welche Version ist aktuell von Angular
                    </div>
                </div>
            </div>
        </div>
        <div id="input-container">
            <textarea name="" id="" placeholder="Antworten..."></textarea>
            <div>
                <div id="button-container-left">
                    <button></button>
                    <div></div>
                    <button></button>
                    <button></button>
                </div>
                <button id="send-message-btn"><img src="/assets/icons/send.png" alt="send-icon"></button>
            </div>
        </div>
    </div>
</section>