<section>
  <div class="logo"> 
    <img src="/assets/img/logo.png" alt="DABubble Logo">
    <h2>DABubble</h2>
  </div>
  <div class="login">
    <h1>Konto erstellen</h1>
    <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
    
    <div class="form-group" [ngClass]="{'focused': isFocused.name}">
      <mat-icon matPrefix
        [ngClass]="{'active-icon': isFocused.name, 'error-icon': nameFormControl.invalid && nameFormControl.touched}"
        class="material-icons-outlined">person
      </mat-icon>
      <input type="text" matInput [formControl]="nameFormControl" placeholder="Name und Nachname"
        (focus)="onInputFocus('name')" (blur)="onInputBlur('name')"
        [ngClass]="{'input-error': nameFormControl.invalid && nameFormControl.touched}">
      <div class="error-message" *ngIf="nameFormControl.invalid && nameFormControl.touched">
        <span *ngIf="nameFormControl.hasError('required')">Geben Sie ein <strong>Name</strong> und ein <strong>Nachname</strong> ein</span>
      </div>
    </div>
    
    <div class="form-group" [ngClass]="{'focused': isFocused.email}">
      <mat-icon matPrefix
        [ngClass]="{'active-icon': isFocused.email, 'error-icon': emailFormControl.invalid && emailFormControl.touched}"
        class="material-icons-outlined">email
      </mat-icon>
      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com"
        (focus)="onInputFocus('email')" (blur)="onInputBlur('email')"
        [ngClass]="{'input-error': emailFormControl.invalid && emailFormControl.touched}">
      <div class="error-message" *ngIf="emailFormControl.invalid && emailFormControl.touched">
        <span *ngIf="emailFormControl.hasError('email')">Falsches <strong>E-Mail</strong></span>
        <span *ngIf="emailFormControl.hasError('required')">Geben Sie ein <strong>E-Mail</strong> ein</span>
      </div>
    </div>
    
    <div class="form-group" [ngClass]="{'focused': isFocused.password}">
      <mat-icon matPrefix
        [ngClass]="{'active-icon': isFocused.password, 'error-icon': passwordFormControl.invalid && passwordFormControl.touched}"
        class="material-icons-outlined">lock
      </mat-icon>
      <input type="password" matInput [formControl]="passwordFormControl" placeholder="Passwort"
        (focus)="onInputFocus('password')" (blur)="onInputBlur('password')"
        [ngClass]="{'input-error': passwordFormControl.invalid && passwordFormControl.touched}">
        <div class="error-message" *ngIf="policyFormControl.invalid && policyFormControl.touched">
          <span *ngIf="policyFormControl.hasError('required')">Bitte akzeptieren Sie unsere Datenschutzerklärung.</span>
        </div>
    </div>
    
    <div class="checkbox-group">
      <input type="checkbox" 
             id="privacyPolicy" 
             [formControl]="policyFormControl" 
             (change)="toggleCheckbox($event)">
      <label for="privacyPolicy">
        <span class="custom-checkbox" [class.checked]="policyFormControl.value"></span>
        Ich stimme der <a routerLink="policy">Datenschutzerklärung</a> zu.
      </label>
      <div class="error-message" *ngIf="policyFormControl.invalid && policyFormControl.touched">
        <span *ngIf="policyFormControl.hasError('required')">Bitte akzeptieren Sie unsere Datenschutzerklärung.</span>
      </div>
    </div>
    
  </div>
  
  <app-links></app-links>
</section>
